main.home{
      margin-top: 75.36px;
}
.home-hero__wrapper {
    padding-top: calc(14% + 3px);
    background: linear-gradient(0deg,rgb(255,97,98) 0%,rgba(230,86,86,0) 100%);
    background-color: rgba(255, 255, 255, 0);
}
.home-hero .container.container--sm{
    max-width: 800px;
    width: 100%;
    padding: 0px 15px;
}
.home-hero__title{
    padding-bottom: 5px;
    font-size: clamp(2rem, 7vw, 7.5rem);
    line-height: 0.85em;
    font-family: "Montserrat";
    font-weight: 700;
}
.home-hero__subtitle{
    padding-top: 1.5rem;
    margin-top: 2%;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
}
.home-hero__body{
    max-width: clamp(450px, 40%, 700px);
    margin-top: 4vh;
    padding: clamp(1.5rem, 5vw, 45px);
}
.home-hero__form{
    margin-top: 10px;
    font-size: 16px;
}
.home-form__passion, .home-form__range, .home-form, .home-form__submit{
    margin-top: 1rem;
}
.home-form__name, .home-form__range select, #select-passion{
    background-color: rgba(0, 0, 0, 0.08) ;
    padding: 12.8px 20px;
    border: 2px solid transparent;
    color: #888491;
    line-height: 1.25;
    outline: none;
    font-size: 1em;
}
.home-form__name:hover, .home-form__range select:hover, #select-passion:hover{
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
}
.home-form__range select, #select-passion{
    opacity: .55;
    appearance: none;
    font-size: 1.1em;
}
.home-form__range select::after{
    content: "\f107";
    font-family: "fontAwesome";
    font-weight: 100;
    font-style: normal;
    text-rendering: auto;
    vertical-align: middle;
    margin-left: 0.33333rem;
    pointer-events: none;
    text-align: center;
    font-size: 1.3em;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate3d(0, -50%, 0);
    color: inherit;
    opacity: .7;
}
.home-form__range span{
    font-size: 1.333em;
    line-height: .75em;
    color: #888491;
    opacity: .6;
}
.home-form__submit input{
   padding: 1rem;
   background: #ff6162;
   letter-spacing: 1.7px;
   outline: none;
   font-size: 12px;
   text-transform: uppercase;
   font-weight: 600;
   border: 2px solid transparent;
}


// home-members

.home ins{
    font-weight: 700;
    font-family: "Montserrat";
    font-size: 2rem;
    line-height: 1.2;
    color: #2a2733;
    z-index: 1;
}
.decoration--brush::before{
    content: "\e943";
    font-family: "gwangi";
    color: #ff6162;
    height: auto;
    position: absolute;
    bottom: -0.4em;
    left: 0;
    z-index: -1;
    font-size: 0.8em;
    opacity: 0.4;
    top: auto;
}

// end of home-memebrs

.section-2{
    padding: 5% 0%;
}
.section-2 .col-12 , .section-2 .col-6{
    padding: 0px 15px;
}
.section-2__body{
    margin-top: 4%;
}
.section-2__nav{
    padding-bottom: .5rem;
    max-width: 450px;
}
.section-2__nav a{
    color: #888491;
    font-size: .8em;
    border: 2px solid #888491;
    padding: 6px 12px;
    margin-right: 3px;
    font-weight: 600;
    line-height: 1.5;
}
.section-2__nav a.active{
    background: #ff6162;
    color: white;
    border-color: #ff6162;
}
.section-2__nav a:hover{
    border-color: #ff6162;
    color: #2a2733;
}
.section-2-item{
    overflow: hidden;
}
.section-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.section-2-item a{
    background-image: linear-gradient(-180deg, #00000000 40%, #000000 130%);
    padding: 1rem .5rem;
}
.section-2-item:hover img{
    transform: scale(1.04);
}
.section-2-item:hover a{
    background-color: rgba(0, 0, 0, 0.10);
}
.section-2-item__title{
    margin-bottom: .5rem;
    font-size: 1rem;
    line-height: 1.45em;
    text-shadow: 0px 0px 10px #444;
}
.section-2-item__meta{
    font-size: .78em;
    letter-spacing: .5px;
    margin: .2rem 0 0;
    line-height: 1rem;
    font-weight: 600;
    opacity: .7;
}
.section-2__btn{
    margin-top: 20px;
    font-weight: 600;
    padding: 1rem 1.75rem;
    line-height: 1.25rem;
    font-size: 12px;
    letter-spacing: 1.7px;
}
@media screen and (max-width: 991px) {
    main.home{
        margin-top: 64.36px;
  }
  .home-hero__body{
    margin-top: 4%;
  }
  .section-2__body{
    margin-top: 25px;
  }
}
@media screen and (max-width: 769px) {
    .home-hero__wrapper {
        padding-top: 75px;
    }
    .section-2{
        padding: 50px 0px;
    }
    .section-2__nav li{
        width: 50%;
    }
    .section-2__nav a{
        border: none;
    }
}